{#
/**
 * @file
 * Theme override for status messages.
 *
 * Displays status, error, and warning messages, grouped by type.
 *
 * An invisible heading identifies the messages for assistive technology.
 * Sighted users see a colored box. See http://www.w3.org/TR/WCAG-TECHS/H69.html
 * for info.
 *
 * Add an ARIA label to the contentinfo area so that assistive technology
 * user agents will better describe this landmark.
 *
 * Available variables:
 * - message_list: List of messages to be displayed, grouped by type.
 * - status_headings: List of all status types.
 * - display: (optional) May have a value of 'status' or 'error' when only
 *   displaying messages of that specific type.
 */
#}
{{ attach_library('{{ NAME }}/messages') }}
<div class="l-site-content__piece" data-drupal-messages>
  {#
    Drupal.Message.defaultWrapper() in message(.es6).js in core/drupal.message
    needs an extra internal wrapper element.
  #}
  <div>
    {% for type, messages in message_list %}
      {% for message in messages %}
        <div class="messages messages--{{ type }}"{% if type == 'error' %} role="alert"{% endif %}>
          {% if status_headings[type] %}
            <h2 class="visually-hidden">{{ status_headings[type] }}</h2>
          {% endif %}

          {{ message }}
        </div>
      {% endfor %}
    {% endfor %}
  </div>
</div>
