{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 * - default_logo: Whether theme settings are to use this theme's site logo.
 *
 * @see {{ NAME }}_preprocess_block__system_branding_block();
 */
#}
{% extends "block.html.twig" %}
{% block content %}
  {% if site_logo %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
      {% if default_logo %}
        LOGO HERE
      {% else %}
        <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
      {% endif %}
    </a>
  {% endif %}
{% endblock %}
